# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.bin
*.hex
*.elf
*.out
*.app

# Vim
*.swp

#build outputs
build_*
!*_rel.a
!*_dbg.a
!*/
build_hal*
*_mapfile.map
tmp/*

#Include certain precompiled libraries
!ThirdParty/tivaware/driverlib/gcc/libdriver.a
!ThirdParty/cpputest/lib/armgcc_m4/libCppUTest.a
!ThirdParty/cpputest/lib/armgcc_r5/libCppUTest.a
!ThirdParty/misc/enum_flags.h
